<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="HULKCROSSFIT"
           connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FITNESS;Integrated Security=True;MultipleActiveResultSets=True"
           providerName="System.Data.SqlClient" />

        <!--
        <add name="HULKCROSSFIT"
        connectionString="workstation id=HULKCROSSFIT.mssql.somee.com;packet size=4096;user id=mkpenrod05_SQLLogin_1;pwd=bridgerreay29;data source=HULKCROSSFIT.mssql.somee.com;persist security info=False;initial catalog=HULKCROSSFIT"
        providerName="System.Data.SqlClient" />
        -->
        
        <!--
        ***Connection String Info***
        http://msdn.microsoft.com/en-us/library/jj653752.aspx
        -->
    </connectionStrings>

    <!--
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    -->

    <system.web>
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
